.body {
    font-family: Helvetica;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}

header {
    height: 65px;
    color: #5f5d60;
    background-color: #B0E0E6;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

.container {
    width: 100%;
    text-align: center;
}

#question {
    font-size: 30px;
    color: #5f5d60;
    background-color: #B0E0E6; 
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 8px;
    margin-top: 65px;
    margin-bottom: 65px;
}

button {
    color: #5f5d60;
    background-color: white;
    border: 1px solid #B0E0E6;
    padding: 10px 50px;
    margin: 0 30px;
    cursor: pointer;
}

button:hover {
    background-color: #B0E0E6;
    transition: all 0.3s;
}

#question, button {
    animation: fadeIn 1s ease 0.3s 1 normal;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-16px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@media(max-width: 750px) {
    #question {
        width: 100%;
        font-size: 20px;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}
